{% extends "master.html" %}

{% block title %}
    Registration
{% endblock title %}

{% block content %}
<div class="container">
    <h1>admin Register</h1>
    <form method="POST" action="{{ url_for('admin_register') }}">
        {{ form.hidden_tag() }}  <!-- CSRF protection -->
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
            {% for error in form.confirm_password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.adminkey.label(class="form-label") }}
            {{ form.adminkey(class="form-control") }}
            {% for error in form.adminkey.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{url_for('register')}}" class="btn btn-info""> register as user </a>
        <a href="{{url_for('login')}}" class="btn btn-success""> login </a>
        </form>
</div>
{% endblock content %}
